@media (max-width: 767px) {
    .slider .container,.container-fluid,.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, 
    .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
    .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
    .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
    .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, 
    .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, 
    .col-xs-8, .col-xs-9 {
	    position: relative;
	    min-height: 1px;
	    padding-right: 0px !important;
	    padding-left: 0px !important;
	}
	.left-panel-info-cart{
	    width: 100% !important;
    	padding: 0 10px !important;
	}
	#nav2{display: none;}

	.panel-left .navbar-nav{
		margin: 0 !important;
		background: #f7f7f7;
	}
	.td-right-order{
		width: 20% !important;
		display: none;
	}
	.tinfo{
		width: 100% !important;
	}
	.panel-left .nav > li{
		border-bottom: 1px solid #dcdcdc !important;
	}

	.panel-left .nav > li:last-child{
		border-bottom: none !important;
	}

	.container-fluid > .navbar-collapse{
		padding-right: 0px !important;
	    padding-left: 0px !important;
	}

	.search {
	    padding: 5px !important;
	    height: 90px;
	}

	.navbar-header{
		width: 100%;
		height: 52px;
		overflow: hidden;
	}

	.logo-search{
		margin-top: 9px !important;
	}

	.navbar-toggle{/* padding-right: 0 !important;  */padding-left: 20px !important}

	.list-menu{display: none;}

	.bx-wrapper .bx-controls-direction a.bx-prev{
		left: 82% !important;
	}

	.bx-controls {
		margin-top: -26% !important;;
	}

	.sale-product-header h4{
		border:1px solid #e8e6e2 !important;
		padding-top: 10px !important;
	}

	.sub-category li{
		height: 44px;
		width: 50%;
		border: 1px solid #e8e6e2;
	}

	.sub-category li a{
		display: block;
		width: 100%;
	}
	#content{
	    padding: 0 16px 0px 22px !important;
	}

}

@media (max-width: 375px){
	.price-product-item span:first-child{
		color: #8ac400;
		font-size: 1.1em;
		width: 100% !important;
		font-weight: 500;
		clear: both;
	}

	.btn-action button{
		font-size: 0.8em !important;
	    padding: 10px 7px !important;
	}
}

@media (max-width: 562px){
	
}

@media (min-width: 992px) {
	.panel-left .navbar-default, .padding-left .navbar-collapse{
		display: none;
	}
	.product-wrap{
		overflow: hidden;
		min-height: 1px;
		padding-left: 15px;
	}
	.item-banner img{width: 100%}

	.search{padding: 25px 0 !important}

	.container-fluid,.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, 
    .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
    .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
    .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
    .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, 
    .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, 
    .col-xs-8, .col-xs-9 {
	    position: relative;
	    min-height: 1px;
	    padding-right: 0px !important;
	    padding-left: 0px !important;
	}

	#list-product-sale .bx-wrapper .bx-controls-direction a {
	  	position: absolute;
	  	top: -35%;
	  	margin-top: -16px;
	  	outline: 0;
	  	width: 22px;
	  	height: 21px;
	  	text-indent: -9999px;
	  	z-index: 9999;
	}

}

@media (max-width: 992px) {
	.panel-right{
		display: none;
	}

	.sale-product-header h4{
	    padding-top: 10px !important;
	    border-top: 1px solid #e8e6e2 !important;
	    border-left: 0px solid !important;
	    border-right-width: 0px !important;
	}

	.product-detail {
	    border-right: 0px solid #e8e6e2 !important;
	}

	.entry-thumb, .entry-content{
		width: 100%!important;
	}

	.entry-content{
		padding: 10px 0 0 0 !important;
	}

	.brands {
	    margin-top: 15px !important;
	}

	.post-grid{
		width: 98% !important;
	}

	.brands .owl-brands{
		border-left: 0px solid !important;
		padding: 0 !important;
	}
	.no-margin-table{
		width: 100% !important;
	}

}

@media (min-width: 1200px) {
	.list-menu li a{
		color: #685e52;
		line-height: 32px !important;
		padding: 3px 11px 4px 15px !important;
		display: block;
		width: 100%;
		/* height: 40px; */
	}

	.list-menu li a:hover{
		color: #8ac400;
		padding: 3px 11px 4px 11px !important;
		border-left: 4px solid #8ac400;
	}
}

@media(min-width: 768px and max-width: 991px){
	.search{padding-top: 0px !important}

	.slider .ads-right{display: none !important;}

	.sale-product-header h4{
		border:1px solid #e8e6e2 !important;
		padding-top: 10px !important;
	}

	.bx-wrapper .bx-controls-direction a.bx-prev{
		left: 82% !important;
	}

	.bx-controls {
		margin-top: -22% !important;;
	}
}

@media (min-width: 768px){
	.container-fluid,.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, 
    .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
    .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
    .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
    .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, 
    .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, 
    .col-xs-8, .col-xs-9 {
	    position: relative;
	    min-height: 1px;
	    padding-right: 0px !important;
	    padding-left: 0px !important;
	}
	#nav1{
		display: none;
	}
	.form-inline .form-group {
	    display: inline-block;
	    margin-bottom: 0;
	    vertical-align: middle;
	}
	.panel-left .navbar-nav, .icon-cart-mobile, .site-pusher.navbar-header,.header__icon,
	.site-container,.menu{
		display: none !important;
	}
	.panel-left .container-fluid{
		padding-right: 0px !important;
	    padding-left: 0px !important;
	}

	.navbar-toggle {
	    padding-left: 0px !important;
	}

	.panel-left .navbar {
	    display: none !important;
	}

	.panel-left-md-768{
		display: block !important;
	}

	.panel-left{
		height: 52px !important;
	}

	#header .navbar-nav li a:first-child{
		padding-left: 0 !important;
	}

	.product-view-content{
		padding-left: 15px !important;
	}


}


*{
	margin: 0;
	padding: 0;
}

body{
	color: #a7a29b;
	background: #fff;
	font-size: 16px;
}

.primary-color{
	color: #8ac400 !important;
}

.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

#header{
	width: 100%;
	height: 45px;
	clear: both;
}

/* Định dạng lại CSS NAV */
.navbar, #navbar{
	min-height: 20px !important;
	margin-bottom: 0 !important;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size: 0.9em;
    color: #685e52; !important;
}

.nav>li>a:hover{
	color: #8ac200!important;
}

.icon-cart-mobile{
    width: 33%;
    height: 44px;
    float: right;
    position: relative;
}

.icon-cart-mobile a{color: #fff}

.icon-cart-mobile i{
    padding: 16px 0;
    height: 45px;
    width: 26px;
}

.icon-cart-mobile span {
    position: absolute;
    color: #ccc;
    top: 5px;
    left: 10px;
    background: #8ac400;
    padding: 0 7px;
    border-radius: 50%;
    color: #fff;
    line-height: 21px;
}

/* Phần LOGO - SEARCH - CART */
.logo-search{
	width: 100%;
	height: 94px;
    margin-top: -2px;
	background: #fff;
}

.logo a img{
    padding: 12px 0;
    max-width: 96%;
}

.search{
	/* padding: 23px 15px; */
	height: 65px;
}

.search input{
	width: 88%;
	height: 45px;
	border: 1px solid #ccc;
	border-right: none;
	float: left;
}

.search input, .search button{
	border: 1px solid #8ac400;
}

.search button{
	width: 12%;
	float: left;
	height: 45px;
	background: #fff;
	border-left: none;
}

.search button i, .site-pusher a:hover{
	color: #8ac400;
}

.cart{
	height: 90px;
}

.cart img{
	width: 25px;
	margin: 0 45%;
    padding: 40px 0;
    position: relative;
}

.cart span{
    color: #fff;
    min-width: 10px;
    height: 17px;
    line-height: 20px
 	top:0px;
    position: absolute;
    background: #8ac400;
    top: 37px;
    right: 70px;
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 0.8em;
    line-height: 16px;
}

/* Phần MENU - SLIDER */
#menu-slider {
	width: 100%;
	min-height: 50px;
	clear: both;
	overflow: hidden;
}

.menu-pri{
	width: 100%;
	height: 52px;
	background: #f7f7f7;
	border-top: solid 1px #e8e6e2;
    border-bottom: solid 1px #e8e6e2;
}

/* Định dạng CSS MOBILE */
.panel-left .navbar-default {
    background-color: #f7f7f7;
    border:0 !important;
}

.panel-left .navbar-toggle{
	float: left !important;
}

.panel-left .navbar-default .navbar-toggle:focus,.panel-left .navbar-default .navbar-toggle:hover {
    background-color: #f7f7f7 !important;
}

.panel-left .navbar-default .navbar-toggle .icon-bar {
    background-color: #8ac400;
}

/* Panel Left MD LG */
.panel-left-md-768{display: none;}

.header-768{
	width: 100%;
	height: 50px;
	background: #fff;
	border-left: solid 1px #e8e6e2;
	border-right: solid 1px #e8e6e2;
	padding: 0 10px;
}

.header-768 i,.header-768 h4{float: left;}

.header-768 i{
	width: 25px;
	margin-right: 5px;
	line-height: 50px;
}

.header-768 h4{
	line-height: 31px;
    text-transform: uppercase;
    font-weight: 500;
}

/* Panel right */
.menu-right{
	height: 52px;
	margin-bottom: 0 !important;
}
.menu-right li{
	list-style: none;
	height: 100%;
	line-height: 50px;
}

.menu-right li a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: block;
	color: #685e52;
	padding: 0 15px;
	text-transform: uppercase;
	font-weight: 600;
}

.menu-right li a:hover{
	border-bottom: 4px solid #8ac400;
	color: #8ac400;
}


/* LIST CATEGOTY */
.list-menu{
	min-height: 10px;
	margin-top: -2px;
	border-left: solid 1px #e8e6e2;
	border-right: solid 1px #e8e6e2;
	border-bottom: 1px solid #e8e6e2;
	position: relative;
}

.list-menu ul{margin-bottom: 0}

.list-menu ul.main-ul li{
    list-style: none;
    border-bottom: 1px solid #e8e6e2;
}

.list-menu ul.main-ul li:last-child{border-bottom: none;}

.list-menu i{
    line-height: 32px;
    margin-left: 0 !important;
}

.list-menu li a{
	color: #685e52;
	line-height: 34px;
	padding: 0px 11px 0px 15px;
	display: block;
	width: 100%;
}

.list-menu li a:hover{
	color: #8ac400;
	padding: 0px 11px 0px 11px;
	border-left: 4px solid #8ac400;
}

.list-menu ul.sub{
	position: absolute;
    top: 0;
    width: 303%;
    left: 100%;
    height: 320px;
    z-index: 999;
    background: #fff;
    border: 1px solid #e8e6e2;
    display: none;
}

.list-menu ul.sub li{
	width: 33.3%;
	float: left;
	list-style: none;
	border: none;
}

.main-ul li:hover .sub{
	display: block;
}

/* SLIDER */
.slider-main{ 
	margin-top:-2px;
}

.slider-main img{
	width: 100%;
	max-height:328px !important;
}

/* ADS */
.ads-right{margin-top: -1px}
.ads-right img{
	width: 100%;
    max-height: 164px;
}

.ads-right a:hover, .ads-right a:focus, .ads-right a:active {
    color: inherit;
    text-decoration: none;
    outline: none;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

/* SERVICES */
.services p{margin: 0 !important}
.services .item {
	height: 60px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 35px !important;
}

.services .img-service{
    height: 100%;
    width: 15%;
    float: left;
}

.services .img-service img{
    margin: 10px 4px;
    width: 100%;
}

.services .text-img{
	width: 85%;
	float: left;
	padding-left: 10px;
}

.services .text-img h4{
	text-transform: uppercase;
    color: #685e52;
    clear: both;
    font-weight: bold;
    display: block;
    width: 100%;
    margin-bottom: 8px !important;
}

.services .text-img p{
    color: #aeaeae;
    clear: both;
    font-size: 0.9em
}

/* SẢN PHẨM KHUYẾN MẠI */
#sale-content .product-sale{
	margin-top: 20px;
	border: 1px solid #e8e6e2;
    min-height: 100px;
    overflow: hidden;
}

.product-img,.product-detail{
	float: left;
	position: relative;
}

.product-img img{
	max-width: 100%;
}

.product-img span{
    position: absolute;
    top: 0;
    left: 0;
    background: #8ac400;
    color: #fff;
    padding: 8px 25px;
}

.product-detail{
    padding: 0px 10px 10px 10px !important;
    border-right: 1px solid #e8e6e2;
}

.product-detail h3 a{
	color: #685e52;
	font-weight: 500;
	font-size: 19px;
}

.product-detail h3 a:hover{
	color: #8ac400;
}

.product-detail p{
	font-style: italic;
	font-size: 15px;
}

.price-product{height: 35px;}

.price-product span{
	font-size: 15px;
	float: left;
	line-height: 30px;
	text-decoration: line-through; 
}

.price-product > span.primary-color{
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
	text-decoration: none;
}

.action-product{
	margin-top: 10px
}

.action-product button.add-cart, .action-product a{
    border: 1px solid #e8e6e2;
    background: #fff;
    text-transform: uppercase;
    color: #685e52;
    padding: 7px 18px;
    font-size: 14px;
    font-weight: 600;
}

.action-product button.add-cart:hover, .action-product a:hover{
	background: #8ac400;
	color: #fff;
}

/* SLIDER PRODUCT SALE */
.sale-product-header h4{
    color: #685e52;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative; 
    border-bottom:1px solid #e8e6e2;
}

.bx-wrapper{
	max-width: 920px;
}

.bx-viewport{
	width: 100%; 
	height: 150px;
	overflow: none !important;
}

.slider4{
	width: 1215%; 
	transition-duration: 0s;
	transform: translate3d(-930px, 0px, 0px);
}

.bx-clone{
	float: left; 
	list-style: none; 
	width: 300px; 
	margin-right: 10px;
}

.bx-controls{
	margin-top: -126px;
}

/* BANNER */
#banner{
	margin-top: 20px;
}

.banner{
	border-top:1px solid #e8e6e2;
}

.item-banner{
		width: 33.3333333333% !important;
		float: left;
	}

.item-banner img{
	width: 100% !important;
}

/* PRODUCT */
.list-product{
	min-height: 100px;
	overflow: hidden;
	border: 1px solid #e8e6e2;
	padding: 10px;
	padding-top: 0 !important;
	margin-top: 50px;
    padding-bottom: 0px;
}

.list-header-z{
	border-bottom: 1px solid #e8e6e2;
    height: 40px;
    margin-bottom: 10px;
}

.list-product h2{
	margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
}

.list-product h2 a{
	float: left;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
	color: #ff9800;
}

.sub-category {
	float: right;
    margin-top: 10px;
    width: 100%;
}

.sub-category li{
	float: left;
	list-style: none;
}

.sub-category li a{
	text-decoration: none;
	color: #685e52;
	border: 0;
    text-transform: uppercase;
    font-size: 0.75em;
    opacity: 0.8;
    padding: 13px 10px;
    position: relative;
}

.sub-category li a:hover, .sub-category li a:active, .sub-category li a:focus{
	text-decoration: none;
	color: #8ac400;
}

.list-product-content{
	min-height: 100px;
	overflow: hidden;
	border-left: 1px solid #e8e6e2;
	border-top: 1px solid #e8e6e2;
}

.img-bg{
    display: block;
    margin: 17px auto;
    width: 90%;
    max-height: 150px;
    transition: all ease 200ms;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    /* background-position: 50% 50% !important; */
}


.product-one{
	border-right: 1px solid #e8e6e2;
	border-bottom: 1px solid #e8e6e2;
	padding: 7px 5px !important;
	position: relative;
}

.product-one h4 a{
	color: #685e52;
    text-decoration: none;
    outline: none;
    font-size: 0.85em;
    display: block;
    width: 100%;
}

.product-one h4 a:hover{
	color: #8ac400;
}

.price-product-item{
	min-height: 30px;
	overflow: hidden;
    line-height: 29px;
}

.price-product-item span{
	display: block;
	float: left;
}

.price-product-item span:first-child{
	color: #8ac400;
	font-size: 17px;
	width: 60%;
	font-weight: 500;
}

.price-product-item span:nth-child(2){
	width: 40%;
	font-size: 13px;
	text-decoration: line-through;
}

.btn-action{
	width: 100%;
	height: 30px;
}

.btn-action button:first-child{
	width: 48%;
	float: left !important;
}
.btn-action button:last-child{
	width: 48%;
	float: right;
}

.btn-action button{
	background: #fff;
    border: 1px solid #e8e6e2;
    color: #685e52;
    font-size: 0.9em;
    padding: 8px 10px;
}

.btn-action button.fa{
	margin-right: 1px !important;
}

.btn-action button:hover{
	background: #8ac400;
	color: #fff;
}

.footer-load-more{
    width: 100%;
    height: 40px;
    background: #e9e9e9;
}

.footer-load-more p{
	color: #685e52;
	line-height: 40px;
}

.footer-load-more p:hover, .entry-meta h4 a:hover{
	color: #8ac400;
}

/* TIN TUC - INDEX */
.home-blog{
	margin-top: 20px;
}

.title-line {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}
.product-v-desc img{
	width: 100%;
}

.title-line .title {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 25px;
    background: #fff;
    color: #685e52;
}

.width50{
	width: 50%;
}

.max-width-100{
	max-width: 100% !important;
}

.padding-10{
	padding: 10px;
}

.entry-content{
	padding-top: 0;
}

.entry-meta{
    padding-bottom: 10px;
    /* border-bottom: dashed 1px #e8e6e2; */
    margin-bottom: 10px;
}

.entry-meta h4{
	margin-top: 0;
}

.entry-meta h4 a{
	color: #8ac400;
	font-size: 1em;
	font-weight: 500;
}

.post-grid .entry-content .entry-desc {
    color: #aeaeae;
    margin-bottom: 15px;
    line-height: 24px;
}

a,.read-more:hover{
	color: #8ac400;
}

.margin-bot-10{
	margin-bottom: 10px;
}

#demos .item{
    /* width: 177px; */
}

/* NHAN HIEU */
.brands h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #685e52;
}

.brands .desc {
    line-height: 20px;
    font-size: 0.9em;
    color: #929292;
}

.brands .item-brand {
    text-align: center;
    border: solid 1px #e8e6e2;
}

.img-fix {
    max-width: 100% !important;
}

.brands .owl-brands {
    border-left-color: #e8e6e2;
}


.brands .owl-brands {
    padding: 10px 0 10px 15px;
    border-left: solid 1px #e8e6e2;
}

.brands{
    border-top: solid 1px #e7e7e7;
    margin-top: 45px;
    padding-top: 20px;
}

.owl-carousel .owl-stage-outer{
	border-right: 1px solid #e8e6e2;
}

/* FOOTER */

#footer{
	margin-top: 20px;
}

#footer .news-social {
    padding: 10px 0;
    background: #f7f7f7;
    border-bottom: solid 1px #e7e7e7;
}

#footer .social li {
    display: inline-block;
    margin-left: 5px;
}

#footer .social a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    border: solid 1px #e7e7e7;
    color: #aeaeae;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

#footer .social a:hover, #footer a:hover{
	color: #8ac400;
}

#footer .top-footer {
    padding: 40px 0;
    color: #929292;
}

#footer .top-footer .f-logo {
    margin-bottom: 15px;
}

#footer .top-footer .about-store {
    line-height: 22px;
    font-size: 13px;
}

#footer .top-footer h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #685e52;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

#footer .top-footer .f-contact li {
    margin-bottom: 10px;
}

#footer .top-footer .f-contact .fa {
    float: left;
}

#footer .top-footer .f-contact span {
    display: block;
    margin-left: 30px;
}

#footer .top-footer .linklists li {
    margin-bottom: 7px;
}

#footer a{
	color: #685e52;
}

#footer .payments {
    background: #f7f7f7;
    text-align: center;
    padding: 10px 0;
}

#footer .copyright {
    padding: 10px 0;
    text-align: center;
    background: #39342e;
    color: #929292;
    line-height: 30px;
    font-size: 13px;
}

.sale-flash{
	position: absolute;
    top: 0;
    right: 0;
    background: #8ac400;
    color: #fff;
    padding: 3px 5px;
}

.ws-nw {
    white-space: nowrap;
}

.overflow {
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
}


/* PRODUCT ALL */
.banner-product{
	margin-bottom: 3px;
	overflow: hidden;
}
.banner-product img{
	max-width: 100%;
}
#product-all .list-menu{
	border-top: 1px solid #e8e6e2;
	margin-top: 0px;
}

.product-wrap{
	overflow: hidden;
	min-height: 1px;
}
.collection__title {
    background: #fff;
    border: 1px solid #e8e6e2;
    position: relative;
    z-index: 1;
    padding: 0 15px;
    min-height: 550px;
    overflow: hidden;
}
.collection__title h1 {
    font-size: 18px;
    font-weight: bold;
    color: #252525;
    display: inline-block;
    text-transform: uppercase;
    line-height: normal;
    padding: 14px 0px;
    border-bottom: 3px solid #8ac400;
    margin-bottom: -2px;
    position: relative;
    margin: 0px;
}
.sorter {
    float: right;
    padding: 11px 0px;
    font-size: 22px;
    color: #d0d0d0;
}
.sorter span {
    color: #8ac400;
}
.sorter .view-mode-button i {
    vertical-align: middle;
}
.sorter a {
    color: #d0d0d0;
}
#sort-by {
    float: right;
    padding: 11px 15px;
}
#sort-by label {
    font-size: 14px;
    color: #464646;
    font-family: Arial;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
#sort-by .form-inline {
    display: inline-block;
}
#sort-by .form-inline .sort-by-script {
    border: 1px solid #e8e6e2;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #959595;
    padding: 5px;
    font-family: Arial;
}
select {
    border-radius: 0;
}

.collection .category-products {
    border-top: none;
}
.products-grid{
	border-top: 1px solid #e8e6e2;
    min-height: 550px;
	border-left: 1px solid #e8e6e2;
}
.collection .category-products .pagination > .active > a{
	background: #8ac400 !important;
	border-color: #8ac400 !important;
}
.collection .category-products li a{
	border-radius: 0px;
}

.no-products{
    color: red;
    padding: 10px 30px;
}

.products-wrap{
    min-height: 200px;
    overflow: hidden;
}

.product-view-content h1, .product-view-content h2, .product-view-content h3, .product-view-content h4, .product-view-content h5, .product-view-contenth6,
.product-view-content p{
	margin: 0;
}

.product-view-content h1{
    font-family: Arial;
    color: #252525;
    font-size: 24px;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#product-detail{
	padding-top: 30px;
}
.actions-qty {
    font-size: 0;
    margin-top: 0px !important;
    margin-bottom: 10px;
}
.actions-qty label {
    font-size: 14px;
    color: #555555;
    font-family: Arial;
    display: inline-block;
    min-width: 70px;
    padding-right: 10px;
    font-weight: normal;
}
.actions-qty #qtyDetail {
    width: 74px;
    height: 45px;
    border: 1px solid #ebebeb;
    color: #363533;
    font-size: 14px;
    font-family: Arial;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.actions-qty__button {
    display: inline-block;
    vertical-align: top;
    /* margin-top: 10px; */
}
/* .detail-button.btn-cart {
    width: 262px;
} */
.detail-button {
    background: #ff5c01;
    font-size: 18px;
    font-weight: normal;
    font-family: Arial;
    text-transform: uppercase;
    border: none;
    outline: none;
    height: 45px;
    display: inline-block;
    color: #fff;
    padding: 0px 15px;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    vertical-align: top;
    margin-right: 10px;
}
.detail-hotline {
    background: #8ac400;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial;
    text-transform: uppercase;
    border: none;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #fff;
    padding: 0px 15px;
    vertical-align: top;
    cursor: pointer;
}
.product-view-payments{
	font-size: 0;
    margin-bottom: 20px;
}
.product-view-payments label{
	font-size: 14px;
    color: #555555;
    font-family: Arial;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
.product-view-payments img{
	max-height: 40px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
}
.product-view-price{
    font-size: 15px;
    color: #252525;
    display: inline-block;
    margin-top: 10px;
}
.price{
	font-size: 24px;
    font-weight: bold;
    font-family: Arial;
    color: #ed1c24;
}

.product-status{
	font-size: 14px;
    color: #252525;
    font-family: Arial;
    line-height: 22px;
   	margin-bottom: 10px;
}
.product-view-desc{
	font-size: 14px;
    color: #898989;
    font-family: Arial;
    line-height: 24px;
    margin-bottom: 10px;
}
.product-view-desc h4{
	font-size: 14px;
    font-family: Arial;
    color: #323b3d;
    font-weight: bold;
    padding-bottom: 5px;
    line-height: normal;
}
.product-view-price-old{
	display: inline-block;
    font-size: 14px;
    font-family: Arial;
    color: #252525;
    line-height: 26px;
    margin-left: 15px;
}
.product-view-price-old .price{
	font-size: 14px;
    font-family: Arial;
    text-decoration: line-through;
    color: #898989;
    vertical-align: text-bottom;
    margin-left: 5px;
    font-weight: 100;
    line-height: 32px;
}
.product-view-price-old .sale-flag{
	font-size: 12px;
    color: #fff;
    font-family: Arial;
    text-decoration: none;
    background: #46a748;
    margin-left: 5px;
    padding: 2px 3px;
    vertical-align: top;
}
.tab-content{
	color: #333;
}
.product-v-desc{
	color: #333
}
.product-v-desc h3:first-child{
    text-transform: uppercase;
    color: #8ac400;
    font-weight: 600;
    border-bottom: 3px solid #8ac400;
    padding-bottom: 5px;
}

.product-v-desc{
	clear: both;
}
.product-comment{
    margin-top: 50px;
}
.product-similar-wrap{
    border-top: 1px solid #e8e6e2;
    border-left: 1px solid #e8e6e2;
}
.widget {
    width: 100%;
    min-height: 250px;
    border: 1px solid #dcdcdc;
  	margin-bottom: 50px;
    margin-top: 25px;
}
.widgets-links p, .widget p {
    background: #8ac400;
    height: 40px;
    margin: 0;
    color: #fff;
    font-size: 1em;
    line-height: 40px;
    padding-left: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
.sidebar_menu {
    padding: 5px 0px;
   /*  border: 1px solid #eee; */
    border-top: 0;
}
.spost:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}
.spost {
    /* margin-top: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.entry-image {
    height: auto;
    float: left;
    margin: 0 10px 0 10px;
    text-align: center;
}
.entry-image img {
    width: 60px;
    height: auto;
    display: block;
    position: relative;
}
.entry-c {
    position: relative;
    overflow: hidden;
}
.entry-title, .entry-meta, .entry-content {
    padding-left: 5px;
}
.entry-title {
    color: #464646;
    font-size: 1em;
}
.spost .entry-title a {
    color: #333;
}
.spost .entry-title a {
    margin: 0;
    font-size: 1em;
    color: #8ac400;
    font-weight: 500;
}
.entry-title a {
    font-weight: 300;
}
.spost .entry-meta {
    margin: 3px -10px 0 0;
}
.spost .entry-meta li {
    font-size: 0.8em;
    margin: 0 10px 0 0;
}

.entry-meta li {
    float: left;
    line-height: 14px;
    color: #999;
    list-style: none;
    margin-top: 9px;
    font-size: 14px;
    font-style: italic;
}
.entry-meta li ins {
    font-weight: 600;
    color: #8ac400;
    text-decoration: none;
}
.entry-meta li del {
    color: #888;
    padding-left: 15px;
}
.panel-left-body{
    width: 100%;
    height: 350px;
    overflow: auto;
}
.news img{
	width: 100%;
}
.news{
    clear: both;
    min-height: 1px;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid #e8e6e2;
    padding: 10px;
}
.news:first-child{
	margin-top: 10px;
}
.entry{
	padding-left: 10px !important;
}
.news h3:hover{
	color: #8ac400;
}
.entry-title h3{
	margin: 0 !important;
}
.widget, .list-menu{
	clear: both;
}
#content .list-menu{
	margin-bottom: 30px;
}
#content  .spost:last-child{
	border-bottom: 0px;
}
#content  .spost{
	padding: 10px;
}
#content  .spost h4{
	margin: 0px !important;
}
#content  .spost img{
	min-height: 40px;
}
#info-content{
	padding-top: 10px;
}
#info-content h3{
	color: #8ac400;
}
.wrap-2 h2{
	margin-top: 0;
	text-align: center;
}
.wrap-2{
    border: 1px solid #e8e6e2;
    margin-top: 10px;
    padding: 10px 15px;
}
.wrap-2 h2, .wrap-2 strong{
	color: #8ac400;
	text-transform: uppercase;
}

.accordion.accordion-lg .acctitle {
    font-size: 23px;
    line-height: 44px;
    padding-left: 30px;
    font-weight: 400;
    color: #685e52;
    text-transform: uppercase;
}
.acctitle:first-child {
    border-top: none;
}
.acctitle {
    display: block;
    position: relative;
    line-height: 24px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    border-top: 1px dotted #DDD;
    padding: 10px 0 10px 20px;
}
.accordion.accordion-lg .acctitle i {
    width: 20px;
    font-size: 20px;
    line-height: 64px;
}
.acctitle i {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
}
.accordion.accordion-lg .acc_content {
    padding: 10px 0 30px 30px;
    display: block;
}
.acc_content {
    position: relative;
    padding: 0 0 15px 20px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.col_full {
    clear: both;
    float: none;
    margin-right: 0;
    margin-bottom: 25px;
    display: block;
    position: relative;
    width: 100%;
}
.col_full label {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #685e52;
    margin-bottom: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
#login  .require_symbol ,#register .require_symbol{
    color: red!important;
}
#login  .button.button-3d {
    border-radius: 3px;
    border-bottom: 3px solid rgba(0,0,0,0.15);
}
#login .nomargin , #register .nomargin{
    font-weight: 400;
    font-size: 1.2em;
}
#login .button, #register button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 0.85em;
    height: 40px;
    line-height: 40px;
    background-color: #8ac400;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-align: center;
    overflow: visible;
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.2); */
}
.nobottommargin ul li {
    list-style: none;
}
.nobottommargin ul li a {
    padding-right: 30px;
    padding-top: 10px;
}
a.fright {
    text-decoration: none !important;
    color: blue;
    font-size: 0.9em;
}
.right {
    text-decoration: none !important;
    color: #333;
    font-size: 0.8em;
}
.error p{
	color: red;
	font-style: italic;
	font-size: 0.9em;
}
._5lm5{
	display: none !important;
}
.img-product-cart img{
	width: 100px;
	min-height: 60px;
}

.img-product-cart{
	width: 105px;
}

.table-list-product{
	margin-top: 20px;
    border: 1px solid #dcdcdc;
}

.table-list-product th{
	font-weight: 600 !important;
	color: #333;
}
.amount{
    color: #555;
    font-weight: 500;
}
.total-price td{
    border: none !important;
    text-align: left;
    color: #333;
    font-size: 18px;
}
.btn-update-order{
    display: block;
    width: 100%;
    height: 40px;
    background: #ececec;
    border: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-next-checkout{
    display: block;
    width: 100%;
    height: 40px;
    background: #8ac400;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.table-list-product tbody tr{
	border-bottom: 1px solid #f4f4f4; 
}
.table-list-product tbody tr:last-child{
	border-bottom:none;
}
.table-list-product tbody td{
	border-top:none;
}


/* THANH TOAN */
.bg-pri {
    background: #8ac400;
}
.checkout-header._container {
  position: relative;
  z-index: 3;
  height: 55px;
}

.checkout-header._logo {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}

.checkout-header h1{
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  padding-left: 50px;
}

.checkout-header._progress-bar {
    position: absolute;
    top: 0;
    right: 0;
}
.step-breadcrumb._list {
    position: relative;
    height: 55px;
    padding: 0 26px 0 0;
    list-style: none;
}

.step-breadcrumb._list:before {
    position: absolute;
    top: 8px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 39px;
    height: 38px;
    border: 1px solid #b4ff00;
    border-width: 1px 1px 0 0;
    background: #8ac400;
    content: "";
    left: -19px;
    z-index: 2;
}

.step-breadcrumb._item.-current, .step-breadcrumb._item.-current:after {
    background: green;
}

.step-breadcrumb._item {
    position: relative;
    height: 55px;
    float: left;
    margin: 0 -26px 0 0;
    padding: 0 30px;
    background: #8ac400;
}

.step-breadcrumb._item.-current .step-breadcrumb._text {
    color: #fff;
}

.step-breadcrumb._text {
    display: block;
    padding: 0 33px;
    color: #fff;
    line-height: 55px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.step-breadcrumb._item.-current, .step-breadcrumb._item.-current:after {
    background: #23b8d8;
}

.step-breadcrumb._item:after {
    position: absolute;
    top: 8px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 39px;
    height: 38px;
    border: 1px solid #b4ff00;
    border-width: 1px 1px 0 0;
    background: #8ac400;
    content: "";
    right: 6px;
    z-index: 9;
}

.step-breadcrumb._item:nth-child(3):after{
  border: 0px !important;
}

.col-login-checkout{
	border: 1px solid #dcdcdc;
}

.checkout-content .form-control,.checkout-content-2 .form-control {
  display: block;
  width: 100%;
  height: 32px;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}

.btn-checkout button{
  	width: 100%;
    height: 35px;
    font-size: 16px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
}

.btn-checkout span{
  margin-left: 19px;
  /* text-align: center; */
  line-height: 35px;
}

.col-login-checkout >p {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0;
    line-height: 39px;
    text-align: left;
    color: #333;
    font-weight: 600;
    padding-left: 15px;
    border-bottom: 1px solid #dcdcdc;
}

.col-login-checkout a{
  display: block;
  width: 100%;
  /* clear: both; */
  /* overflow: hidden; */
  height: 40px;
  border: 1px solid #5674ba;
}

.col-login-checkout a:hover{
  color: #fff;
}

.products-detail .table, .products-detail table.table tr{
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.products-detail table.table tr th{
  border: none;
}

.products-detail table.table td{
  font-size: 14px !important;
}


#three_step_checkout table {
    border-collapse: collapse;
    border-spacing: 0;
}

.SSLSecured {
    width: 100%;
}

.SSLSecured td {
    vertical-align: top;
    font-size: 0;
    white-space: nowrap;
}

.SSLSecured .product-buyer-protection-wrap {
    position: relative;
    top: 36px;
    font-size: 12px;
    margin: 0 8px 0 0;
    padding-left: 40px;
    width: 36%;
}

.SSLSecured td>div {
    display: inline-block;
    vertical-align: top;
}

.SSLSecured .product-buyer-protection-wrap .product-buyer-protection__logo__image {
    vertical-align: text-top;
    display: inline-block;
    width: 36px;
    height: 40px;
    position: absolute;
    top: 48%;
    left: 0;
    margin-top: -24px;
}

.SSLSecured .product-buyer-protection-wrap .product-buyer-protection__text {
    white-space: normal;
}

.SSLSecured .pci-dss-verisign_checkout {
    padding-top: 17px;
    margin: 0 8px;
}

.SSLSecured td>div {
    display: inline-block;
    vertical-align: top;
}

.SSLSecured .seal_verisign_wrap {
    padding-top: 28px;
}

.SSLSecured td>div {
    display: inline-block;
    vertical-align: top;
}

.SSLSecured .seal_verisign {
    display: inline-block;
    vertical-align: text-top;
    padding: 0;
    width: 100px;
    height: 58px;
    display: block;
    margin: 0 0 0 8px;
}

.checkout-content-2{
  margin-top: 10px;
}

.checkout-content-2 h4{
  background: #ccc;
  padding: 10px 0px 10px 50px;
  font-size: 15px;
  margin-bottom: 0;
}

.cell-30{
  width: 30%;
}

.cell-70{
  width: 70%;
}

.cell-40{
  width: 40%;
}

.cell-60{
  width: 60%;
}

.checkout2-left{
  padding: 7px 50px;
}
.checkout-content{
    width: 100%;
    min-height: 1px;
    overflow: hidden;
    margin-top: 20px;
}
.form-info-cus{
    margin: 40px 0;
}
.td-right-order{
	color: #333;
    font-size: 14px;
    line-height: 30px !important;
    font-weight: 600;
    width: 45%;
}

.tinfo td{
	border:  none !important;
}
.checkbox-info{
    padding-left: 10px;
    width: 100%;
    background: #f7f7f7;
    padding-top: 7px;
    padding-bottom: 7px;
}
.checkbox-info label{
	color: #333;
    font-weight: bold;
    font-size: 14px;
}
.infor-ship label{
	color: #333;
    font-weight: 600 !important;
}
.infor-ship p{
	color: #333;
	font-size: 14px;
}
#b-navbar-fg{
	display: none;
}
.tks-header{
	margin-bottom: 10px;
}
.tks-header h3{
    color: #333;
    border: 1px solid #8ac400;
    margin: 0;
    padding: 15px 15px;
    background: #d2e6a2;
}
.checkout-content, .tks-tabele-info-cus th, .tks-tabele-info-cus td{
	color: #333 !important;
}
.btn-tks button{
	width: 200px;
	margin-right: 10px;
}
.tks-content{
	min-height: 1px;
    overflow: hidden;
}
.general__title h1, .general__title h2, .general__title h3, .general__title h4 {
    font-size: 18px;
    font-weight: bold;
    color: #8ac400;
    border-bottom: 3px solid #8ac400;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 0 7px;
    margin-bottom: 15px;
}
.account .title-buttons {
    margin-bottom: 10px;
}
.account .table-responsive {
    min-height: .01%;
    overflow: auto;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 98%;
    color: #333;
}
.account .table-responsive .data-table {
    border-spacing: 0;
    width: 100%;
    font-size: 15px;
}
.account .table-responsive .data-table thead tr {
    background-color: #f7f7f7;
}
.account .table-responsive .data-table thead>tr:last-child th, .account .table-responsive .data-table thead>tr:last-child td, .account .table-responsive .data-table tbody>tr:last-child th, .account .table-responsive .data-table tbody>tr:last-child td {
    border-bottom: none;
}
.account .table-responsive .data-table th:first-child {
    text-align: left;
}
.account .table-responsive .data-table thead th, .account .table-responsive .data-table thead td {
    border-bottom: 1px solid #ddd;
}
.account .table-responsive .data-table th {
    line-height: 25px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}
.account .table-responsive .data-table tbody>tr:last-child td {
    border-bottom: none;
}
.account .table-responsive .data-table td:first-child {
    text-align: left;
}
.account .table-responsive .data-table tbody th, .account .table-responsive .data-table tbody td {
    border-right: 0px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 10px 6px;
}
.account .table-responsive .data-table td {
    line-height: 20px;
    padding: 10px;
    vertical-align: top;
}
.account .table-responsive .price-2 {
    color: #8ac400;
}
.account .table-responsive .data-table tbody>tr:last-child td {
    border-bottom: none;
}
.account .table-responsive .data-table tbody th, .account .table-responsive .data-table tbody td {
    border-right: 0px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 10px 6px;
}
.account .table-responsive a {
    font-weight: bold;
    color: #8ac400;
}
.account .block-account .block-content {
    padding: 0 0 15px 0 !important;
}
.account .block-account .block-content p {
    margin: 0 0 10px;
    color: #333;
    font-size: 15px;
}
.tb-detail-or,.or-detail-c{
	color: #333;
}
.tb-detail-or th{
	font-weight: 500 !important;
}
.order-page .viewMore {
    background: #8ac400;
    margin-bottom: 20px;
    color: #fff;
    padding: 5px 10px;
}
.image-product .im-bg{

}

.product-one .image-product img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.product-one:hover .image-product img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}